<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">WikiMaps</a>
    <div class="d-flex">
      <div class="navbar-nav ms-2 me-2 align-self-center">
        <a class="nav-item nav-link" href="/maps">Map Index <i class="fa-solid fa-compass fa-lg"></i></a>
      </div>
      <% if (!userId) { %>
      <div class="navbar-nav ms-2 me-2">
        <form action="/register" method="POST">
          <div class="nav-item nav-link">
            <button type="submit" class="btn btn-primary">Register</button>
          </div>
        </form>
      </div>
      <div class="navbar-nav ms-2 me-2">
        <form action="/users" method="POST">
          <div class="nav-item nav-link">
            <button type="submit" class="btn btn-primary">Login</button>
          </div>
        </form>
      </div>
      <% } else { %>
      <div class="navbar-nav ms-2 me-2 align-self-center">
        <a class="nav-item nav-link" href="/users/<%= userId %>">
          Profile <i class="fa-solid fa-user fa-lg"></i>
        </a>
      </div>
      <div class="navbar-nav ms-2 me-2 align-self-center">
        <a class="nav-item nav-link" href="/users/favorites" target="_blank">
          Favorites <i class="fa-solid fa-star fa-lg"></i>
        </a>
      </div>
      <div class="navbar-nav ms-2 me-2 align-self-center">
        <a class="nav-item nav-link" href="/users/my-maps" target="_blank">
          My Maps <i class="fa-solid fa-map-location-dot fa-lg"></i>
        </a>
      </div>
      <div class="navbar-nav ms-2 me-2 align-self-center">
        <a class="nav-item nav-link" href="/maps/new" target="_blank">
          New Map <i class="fa-solid fa-square-plus fa-lg"></i>
        </a>
      </div>
      <div class="navbar-nav ms-2 me-2">
        <form action="/logout" method="POST">
          <div class="nav-item nav-link">
            <button type="submit" class="btn btn-primary">Logout</button>
          </div>
        </form>
      </div>
      <% } %>
    </div>
  </div>
</nav>
